
:root {
    --color-1: #FF8C00;
    --color-2: #254e70ff;
    --color-3: #94B7C9;
    --color-4: #aef3e7ff;
    --color-5: #D0E3E2;
    --color-6: #F0F8F7;
}
/* Titre de la barre de navigation en blanc */

/*
:root {
    --color-1: #F7D1BB;
    --color-2: #C29AA5;
    --color-3: #F3C3B1;
    --color-4: #F9DFC7;
    --color-5: #E4B3B0;
    --color-6: #FAE8D6;
}
/* Titre de la barre de navigation en noir */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--color-5);
  }
  
main.left {
    margin-left: 3rem;
}

main.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.7rem;
}