
:root {
    --color-1: #FF8C00;
    --color-2: #254e70ff;
    --color-3: #94B7C9;
    --color-4: #aef3e7ff;
    --color-5: #D0E3E2;
    --color-6: #F0F8F7;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--color-5);
  }
  
main.left {
    margin: 3rem;
}

main.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.7rem;
    margin-top: 0;
}

.search-bar {
    padding: 0.5rem;
    font-size: 1rem;
    width: max-content;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    background-color: var(--color-6); 
}

.router-link {
    display: block;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid black;
    box-sizing: content-box;
    background-color: var(--color-6);
}

.router-link:hover {
    background-color: var(--color-3);
}

.list {
    display: flex;
    flex-direction: column;
    width: 25%;
    list-style-type: none;
    padding-left: 0;
}

.list > li {
    margin-bottom: 0.5rem;
}

.button {
    text-decoration: none;
    background-color: var(--color-1);
    color: black;
    padding: 0.75rem;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.button:hover {
    background-color: #FFA733;
}